body {
    font-family: 'Raleway', sans-serif;
    background-color:#95B9C7;
}

button.button:hover, button.button:active{
    color:#FFF;
}

i.icon-pencil {
    margin-left:8px;
    position:relative;
    top:5px;
}

.tabBox {
    width:500px;
    margin:auto;
}

span.prefix, input.on,.owing input, .owing button  {
    height:35px;
    border:0;
}

input.on {
    width:100px;
    font-family: 'Raleway', sans-serif;
}


fieldset {
    border: 0;
}

legend {
    font-size:200%;
    padding-top:2em;
    border:0;
    background:none;
}

input, select {
    font-family: 'Raleway', sans-serif;
    font-size:120%;
}


.signage {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin:0;
    padding-bottom:0.1em;
    border:0!important;
    background-color:#9E2600;
    color: #FFF;
    font-weight: normal;
}